/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  user-select: text;
  font: normal 12px/180% "Microsoft YaHei";
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
body, html, .ox {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.roll-box::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
.roll-box::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

/*定义滑块 内阴影+圆角*/
.roll-box::-webkit-scrollbar-thumb {
  -webkit-box-shadow: none;
  background-color: transparent;
}

.card[template="morecard"] {
  float: left;
}